.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 0.875em;
  padding: 5px 15px;

  @media screen and (max-width: 768px) {
    font-size: 0.625em;
  }
}
