@use '../../index.scss' as i;

.collapse {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  z-index: 20;

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: i.$primary-color;
    color: #ffffff;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;

    & h3 {
      display: flex;
      align-items: center;
      font-size: 1.125em;
      font-weight: 700;
      margin: 0px;

      @media screen and (max-width: 768px) {
        font-size: 0.875em;
      }
    }

    & img:hover {
      cursor: pointer;
    }
  }

  &__content {
    z-index: -1;
    color: #000000;
    background-color: #f6f6f6;
    border-radius: 0px 0px 5px 5px;
    height: 0px;
    opacity: 0;
    transform: translateY(-100%);
    transition:
      height 300ms,
      opacity 300ms,
      transform 100ms;
    @media screen and (max-width: 768px) {
      font-size: 0.8125em;
    }

    &visible {
      padding: 10px 20px 10px 20px;
      height: fit-content;
      opacity: 1;
      transform: translateY(0%);
      transition:
        height 300ms,
        opacity 300ms,
        transform 100ms;
    }
  }
}

.arrowOpen {
  transform: rotate(-180deg);
  transition: transform 300ms;
}

.arrowClose {
  transform: rotate();
  transition: transform 300ms;
}
