header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px green;
}

nav {
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li {
  padding: 15px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000000;
}
