.footer {
  width: 100%;
  margin-top: auto;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 67px 0px 30px 0px;
  font-size: 1.5em;
  font-weight: 500;
  color: white;

  &__logo {
  }

  @media screen and (max-width: 768px) {
    font-size: 0.75em;
    gap: 15px;
    padding: 67px 0px 60px 0px;
  }

  & p {
    @media screen and (max-width: 768px) {
      width: 134px;
      text-align: center;
    }
  }
}

/*

leading-trim: NONE;
line-height: 143%;
letter-spacing: 0%;
text-align: center;
vertical-align: bottom;
*/
